// Import Bootstrap API
@import '~bootstrap/scss/maps';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/utilities';

// Use bootstrap API to generate custom responsive classes

$utilities: map.merge(
  $utilities,
  (
    'width': (
      property: width,
      class: 'w',
      responsive: true,
      values: (
        0: 1%,
        1: 1%,
        25: 25%,
        33: 33%,
        50: 50%,
        66: 66%,
        75: 75%,
        100: 100%,
        auto: auto,
      ),
    ),
  )
);

// Import Bootstrap utilities API (processes utility changes)
@import '~bootstrap/scss/utilities/api';

// Generate light/dark variables
:root {
  @each $key, $value in $app-colors {
    --#{$key}: #{$value};
  }
}

@include color-mode(dark) {
  @each $key, $value in $app-colors-dark {
    --#{$key}: #{$value};
  }
}

// Mixins

@mixin app-btn($text, $border, $bg, $text-hover, $border-hover, $bg-hover, $text-active, $border-active, $bg-active) {
  color: $text;
  border-color: $border;
  background-color: $bg;
  transition: all 0.05s ease;

  &:hover,
  &:focus,
  &:focus-visible {
    color: $text-hover;
    border-color: $border-hover;
    background-color: $bg-hover;
    text-shadow: 0 0 0.1rem $text-hover;
    box-shadow:
      inset 0 0 0.2rem $border-hover,
      0 0 0.2rem $border-hover;
  }

  &.active,
  &:active {
    color: $text-active !important;
    border-color: $border-active !important;
    background-color: $bg-active !important;
  }
}

@mixin app-avatar-container($size) {
  // max-height: $size * $font-size-base;
  max-width: $size * $font-size-base;
}

@mixin app-neon-line($border-color, $shadow-color1, $shadow-color2, $shadow-intensity) {
  border-color: $border-color !important;
  box-shadow:
    0 0 $shadow-intensity * 0.2rem $shadow-color1,
    0 0 $shadow-intensity * 0.5rem $shadow-color2,
    0 0 $shadow-intensity * 1.5rem $shadow-color2,
    0 0 $shadow-intensity * 2.5rem $shadow-color2;
}

// Animations

@keyframes border-flicker {
  5%,
  7%,
  9%,
  25%,
  27%,
  100% {
    border-color: $navbar-light-hover-color;
  }

  0%,
  6%,
  8% {
    border-color: transparent;
  }
}
