// Import Bootstrap API
@import '~bootstrap/scss/maps';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/utilities';

// Use bootstrap API to generate custom responsive classes

$utilities: map.merge(
  $utilities,
  (
    'width': (
      property: width,
      class: 'w',
      responsive: true,
      values: (
        0: 1%,
        1: 1%,
        25: 25%,
        33: 33%,
        50: 50%,
        66: 66%,
        75: 75%,
        100: 100%,
        auto: auto,
      ),
    ),
  )
);

// Import Bootstrap utilities API (processes utility changes)
@import '~bootstrap/scss/utilities/api';

// Generate light/dark variables
:root {
  @each $key, $value in $app-colors {
    --#{$key}: #{$value};
  }
}

@include color-mode(dark) {
  @each $key, $value in $app-colors-dark {
    --#{$key}: #{$value};
  }
}

// Mixins

@mixin app-avatar-container($size) {
  // max-height: $size * $font-size-base;
  max-width: $size * $font-size-base;
}

@mixin app-neon-large($border-color, $shadow-color1, $shadow-color2, $shadow-intensity) {
  border-color: $border-color !important;
  box-shadow:
    0 0 $shadow-intensity * 0.2rem $shadow-color1,
    0 0 $shadow-intensity * 1rem $shadow-color2,
    0 0 $shadow-intensity * 2rem $shadow-color2,
    0 0 $shadow-intensity * 3rem $shadow-color2;
}

@mixin app-neon-small($border-width, $border-color, $shadow-color, $shadow-intensity) {
  border-radius: 1rem;
  border: $border-width solid transparent;
  transition:
    border-color 0.05s ease,
    box-shadow 0s ease,
    text-shadow 0.05s ease;

  &:hover {
    border-color: $border-color;
    box-shadow:
      inset 0 0 $shadow-intensity * 1em $shadow-color,
      0 0 $shadow-intensity * 1em $shadow-color;
    text-shadow: 0 0 $shadow-intensity * 0.5rem gray;
    animation: flicker alternate 4s;
  }

  &:active,
  &[aria-current='page'] {
    border-color: $border-color;
    text-shadow: 0 0 $shadow-intensity * 0.5rem $border-color;
    box-shadow:
      inset 0 0 $shadow-intensity * 1em $shadow-color,
      0 0 $shadow-intensity * 1em $shadow-color;
    animation: none;
  }
}

// Animations

@keyframes flicker {
  5%,
  7%,
  9%,
  25%,
  27%,
  100% {
    color: $navbar-light-hover-color;
  }

  0%,
  6%,
  8% {
    color: transparent;
  }
}

// @keyframes flicker {
//   // animation: flicker 8s infinite alternate;
//   0%,
//   19%,
//   21%,
//   54%,
//   56%,
//   100% {
//     box-shadow:
//       0 0 0.2rem $linen,
//       0 0 1rem $rosewood,
//       0 0 2rem $rosewood,
//       0 0 3rem $rosewood;
//   }

//   20%,
//   24%,
//   55% {
//     box-shadow:
//       0 0 0.2rem $linen,
//       0 0 0.8rem $rosewood,
//       0 0 1.8rem $rosewood,
//       0 0 2.8rem $rosewood;
//   }
// }
