@use 'sass:color';

///////////////////////////////////
// Framework improvements /////////
///////////////////////////////////

// bootstrap buttons //////////////

.btn-outline-primary {
  @include app-btn(
    var(--app-btn-primary-text-color),
    var(--app-btn-primary-border-color),
    var(--app-btn-primary-bg-color),
    var(--app-btn-primary-text-color),
    var(--app-btn-primary-border-color-hover),
    var(--app-btn-primary-bg-color-hover),
    var(--app-btn-primary-text-color),
    var(--app-btn-primary-border-color-hover),
    var(--app-btn-primary-bg-color-hover)
  );
}

.btn-outline-secondary {
  @include app-btn(
    var(--app-btn-secondary-text-color),
    var(--app-btn-secondary-border-color),
    var(--app-btn-secondary-bg-color),
    var(--app-btn-secondary-text-color),
    var(--app-btn-secondary-border-color-hover),
    var(--app-btn-secondary-bg-color-hover),
    var(--app-btn-secondary-text-color-active),
    var(--app-btn-secondary-border-color-hover),
    var(--app-btn-secondary-bg-color-active)
  );

  border-radius: calc(0.5 * var(--bs-border-radius));
}

.btn-outline-info {
  color: var(--app-btn-info-text-color);
  border-color: var(--bs-border-color);
  transition: all 0.05s ease;

  &:hover,
  &:focus,
  &:focus-visible {
    color: var(--app-btn-info-text-color);
    background-color: transparent;
    border-color: var(--app-btn-info-border-color-hover);
    text-shadow: 0 0 0.1rem var(--app-btn-info-text-color);
    box-shadow: 0 0 0.2rem 0.1rem var(--app-btn-info-border-color-hover);
  }

  &.active,
  &:active {
    color: var(--app-btn-info-text-color) !important;
    border-color: var(--app-btn-info-border-color-hover) !important;
    background-color: var(--app-btn-info-bg-color-active) !important;
  }

  &.is-invalid {
    border-color: var(--bs-form-invalid-border-color) !important;
  }
}

.btn-outline-danger {
  @include app-btn(
    var(--app-btn-danger-text-color),
    var(--app-btn-danger-border-color),
    var(--app-btn-danger-bg-color),
    var(--app-btn-danger-text-color),
    var(--app-btn-danger-border-color-hover),
    var(--app-btn-danger-bg-color-hover),
    var(--app-btn-danger-text-color-active),
    var(--app-btn-danger-border-color-hover),
    var(--app-btn-danger-bg-color-active)
  );
}

// links //////////////////////////
a {
  --bs-link-color-rgb: var(--bs-link-hover-color-rgb);
}

.icon-link {
  text-decoration-color: rgba(var(--bs-link-color-rgb), 1);

  &:hover,
  &:focus,
  &:focus-visible {
    outline: none;
    color: var(--bs-link-hover-color);
    text-shadow: 0 0 0.1rem var(--app-link-shadow-color-hover);
  }
}

.icon-link-right {
  --bs-icon-link-transform: translateX(0.2rem);
}

.icon-link-left {
  --bs-icon-link-transform: translateX(-0.2rem);
}

// bootstrap forms ////////////////

.form-label {
  margin-bottom: 0 !important;
}

.help-text {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.input-group-text {
  margin-top: ($spacer * 0) !important;
}

input + label.form-label.required::after,
textarea + label.form-label.required::after,
legend.col-form-label.required::after {
  content: ' *';
  color: var(--app-form-required) !important;
}

.col-form-label {
  padding-left: ($spacer * 0.25) !important;
  padding-top: ($spacer * 0) !important;
}

.invalid-feedback {
  padding-left: 0.5rem;
}

// swiper cards ///////////////////

.btn-swiper {
  padding: 0;
  border: 0;
  font-size: 2rem;
  color: var(--bs-text-body);
  opacity: 0.5;
  transition: opacity 0.05s ease-in;
}

.btn-swiper:hover,
.btn-swiper:active {
  opacity: 1;
}

.swiper {
  padding: 1.5rem !important;
}

// bootstrap list group ///////////

.list-group-item-secondary {
  color: var(--app-admin-list-secondary-color) !important;
}

.list-group-item-action:hover,
.list-group-item-action:focus,
.list-group-item-action:focus-visible {
  outline: none;
  background-color: var(--app-admin-list-bg-color-hover) !important;
  text-shadow: 0 0 0.1rem var(--app-link-shadow-color-hover);
}

// bootstrap table ////////////////

.table > :not(caption) > * > * {
  color: inherit !important;
}

// popover ////////////////////////

:not(.modal) .popover {
  z-index: 10 !important;
}

// progress bar ///////////////////

.progress {
  margin: 0 0.2rem;
  overflow: visible;

  &-bar {
    @each $color, $value in $theme-colors {
      &.bg-#{$color} {
        @include app-neon-line(transparent, $value, $value, 0.2);
      }
    }
  }
}

///////////////////////////////////
// App-specific classes ///////////
///////////////////////////////////

// Switch modale ///////////////////

.app-switch-theme-btn {
  min-height: 4rem;
  align-content: center;
}

// Images /////////////////////////

.app-img-fluid {
  max-width: 100%;
  height: auto;
  background-color: var(--app-img-bg-color);
}

// Avatars ////////////////////////

.app-avatar-container-xs {
  @include app-avatar-container(1.3);
}

.app-avatar-container-sm {
  @include app-avatar-container(3);
}

.app-avatar-container-md {
  @include app-avatar-container(9);
}

.app-avatar-container-lg {
  @include app-avatar-container(15);
}

.app-avatar-img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  aspect-ratio: 1/1;
  box-shadow: 0 0.1rem 0.2rem var(--app-avatar-shadow-color);
  border-radius: calc(10 * var(--bs-border-radius)) !important;
}

.app-avatar-link {
  .app-avatar-img {
    opacity: 1;
    transition: all 0.2s ease;
  }

  .app-avatar-icon {
    color: var(--app-avatar-icon-color);
    opacity: 0;
    transition: all 0.2s ease;
  }

  &:hover,
  &:focus,
  &:focus-visible {
    outline: none;

    .app-avatar-img {
      opacity: 0.7;
      filter: blur(1px);
      box-shadow: 0 0 1rem 0.1rem var(--app-avatar-shadow-color-hover);
    }

    .app-avatar-icon {
      opacity: 1;
    }
  }
}

// Navbar /////////////////////////

.app-navbar-text-color {
  color: var(--app-navbar-text-color) !important;
}

.app-navbar-muted-color {
  color: var(--app-navbar-muted-color) !important;
}

.app-navbar-bg-color {
  background-color: var(--app-navbar-bg-color);
}

.app-navbar-neon {
  @include app-neon-line(transparent, var(--app-navbar-border-color), var(--app-navbar-bg-color), 1);
}

.app-navbar-btn {
  transition: all 0s ease;
  border: 2px solid transparent;
  border-radius: var(--bs-border-radius);

  &:hover,
  &:focus,
  &:focus-visible {
    border-color: var(--app-navbar-text-color);
    box-shadow:
      inset 0 0 0.2rem var(--app-navbar-text-color),
      0 0 0.2rem var(--app-navbar-text-color);
    text-shadow: 0 0 0.1rem var(--app-navbar-text-color);
    animation: border-flicker alternate 3s;
  }

  &:active,
  &[aria-current='page'] {
    border-color: var(--app-navbar-text-color);
    animation: none;
  }
}

// Home ///////////////////////////////

.app-home-title {
  font-family: Neonsans, sans-serif;
  letter-spacing: -0.2rem;
  font-size: 5rem;
}

.app-home-title .part-1 {
  opacity: 0;
  text-shadow: none;
  animation:
    turn-on 0.1s ease-in-out 1s forwards,
    neon-glow-1 5s infinite 2s;
}

.app-home-title .part-2 {
  opacity: 0;
  text-shadow: none;
  animation:
    turn-on 0.1s ease-in-out 1.1s forwards,
    neon-glow-2 7s infinite 2.1s;
}

.app-home-tag {
  font-family: Aaaiight, sans-serif;
  font-style: italic;
  text-shadow: 0 0 0.2rem var(--app-home-tag-shadow-color);
}

.app-home-havefun {
  transform: translateY(50%);
}

.app-home-havefun span {
  @include app-neon-line(var(--app-navbar-border-color), var(--app-navbar-border-color), var(--app-navbar-bg-color), 1);

  border-radius: var(--bs-border-radius);
  border-radius: calc(2 * var(--bs-border-radius));
}

.app-home-gradient {
  @include app-neon-line(transparent, var(--app-navbar-border-color), var(--app-navbar-bg-color), 1);

  border-bottom: 3px solid;
  border-image: linear-gradient(to right, transparent, var(--app-navbar-border-color), transparent) 1;
}

.app-home-card {
  width: 22rem;
  height: 28rem;
  border-radius: var(--bs-border-radius);
  background-color: var(--app-home-card-bg-color);
  box-shadow: inset 0 0 1rem 0.2rem var(--app-home-card-shadow-color);

  & > a {
    border-radius: var(--bs-border-radius) var(--bs-border-radius) 0 0;
    overflow: hidden;
    filter: brightness(90%);
    transition: all 0.2s ease;

    &:hover,
    &:focus,
    &:focus-visible {
      filter: brightness(110%);
      box-shadow: 0 0 1rem 0.1rem var(--app-home-card-bg-color-hover);
      outline: none;
    }
  }

  img {
    border-radius: 0;
  }

  p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    line-clamp: 5;
    height: 5lh;
  }

  .btn-outline-primary {
    font-weight: bold;
    color: var(--app-btn-secondary-text-color);
    border-color: var(--app-btn-secondary-border-color);
    background-color: var(--app-btn-secondary-bg-color);

    &::after {
      content: '>>';
      position: absolute;
      opacity: 0;
      transform: translateX(-100%);
      transition: all 0.2s ease;
    }

    &:hover,
    &:focus,
    &:focus-visible {
      padding-right: $spacer * 2;

      &::after {
        opacity: 1;
        transform: translateX(+30%);
      }
    }
  }

  &:hover,
  &:has(*:focus),
  &:has(*:focus-visible) {
    border-color: var(--app-home-card-bg-color-hover);
    box-shadow:
      0 0 1.25rem var(--app-home-card-border-color-hover),
      inset 0 0 1rem 0.3rem var(--app-home-card-shadow-color-hover);

    & > a {
      border-color: var(--app-home-card-border-color-hover) !important;
    }

    .btn-outline-primary {
      @include app-btn(
        var(--app-btn-primary-text-color),
        var(--app-btn-primary-border-color),
        var(--app-btn-primary-bg-color),
        var(--app-btn-primary-text-color),
        var(--app-btn-primary-border-color-hover),
        var(--app-btn-primary-bg-color-hover),
        var(--app-btn-primary-text-color),
        var(--app-btn-primary-border-color-hover),
        var(--app-btn-primary-bg-color-hover)
      );
    }
  }
}

// Account ////////////////////////

.app-account-card {
  background-color: var(--app-account-card-bg-color);
}

// Form rows //////////////////////

.app-form-row {
  margin-bottom: ($spacer * 1);
}

.app-form-row-bordered {
  border-radius: var(--bs-border-radius);
  border: var(--bs-border-color) var(--bs-border-style) var(--bs-border-width);
  padding: ($spacer * 0.5);
}

// Form buttons action ////////////

.app-btn-action {
  width: 1.5rem;
  height: 1rem;
  background-image: none;

  &:not(.is-invalid) {
    margin-right: ($spacer * 0.75) !important;
  }

  &.is-invalid {
    margin-right: ($spacer * 2) !important;
  }

  & .fa-solid {
    vertical-align: ($spacer * 0.125);
  }
}

.app-btn-max-height {
  height: calc(3.5rem + calc(var(--bs-border-width) * 2));
}

// Accessibility //////////////////

@media (prefers-reduced-motion) {
  * {
    animation: none !important;
    transition: none !important;
  }

  .app-home-title {
    .part-1,
    .part-2 {
      @include flicker(1, 1);
    }
  }

  .app-home-card {
    img {
      &:hover,
      &:focus,
      &:focus-visible {
        transform: none;
      }
    }

    .btn-outline-primary {
      &:hover,
      &:focus,
      &:focus-visible {
        padding-right: $spacer * 0.75;

        &::after {
          opacity: 0;
        }
      }
    }
  }
}

// Others /////////////////////////

.app-skip-link {
  z-index: 500;
}

.app-env-dev {
  z-index: 1000;
  color: #4d2e00;
  background: repeating-linear-gradient(45deg, #e7b871, #e7b871 10px, #ce994b 10px, #ce994b 20px);
}
