///////////////////////////////////
// Framework improvements /////////
///////////////////////////////////

// bootstrap forms ////////////////

.form-label {
  margin-bottom: 0 !important;
}

.help-text {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.input-group-text {
  margin-top: ($spacer * 0) !important;
}

input + label.form-label.required::after,
textarea + label.form-label.required::after,
legend.col-form-label.required::after {
  content: ' *';
  color: $primary !important;
}

.col-form-label {
  padding-left: ($spacer * 0.25) !important;
  padding-top: ($spacer * 0) !important;
}

// bootstrap card and swiper //////

.card {
  width: 22rem;
  height: 28rem;
}

.card-img {
  overflow: hidden;
}

.card-img-top {
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  line-clamp: 5;
  height: 5lh;
}

.btn-swiper {
  padding: 0;
  border: 0;
  font-size: 2rem;
  color: var(--bs-text-body);
  opacity: 0.5;
  transition: opacity 0.15s ease-in;
}

.btn-swiper:hover,
.btn-swiper:active {
  opacity: 1;
}

///////////////////////////////////
// App-specific classes ///////////
///////////////////////////////////

// Switch theme ///////////////////

.app-switch-theme-radio {
  min-height: 4rem;
  align-content: center;
}

// Home intro /////////////////////

.app-home-havefun {
  transform: translateY(50%);
}

.app-home-gradient {
  border-bottom: var(--bs-border-width) solid;
  border-image: linear-gradient(
      to right,
      transparent,
      var(--bs-border-color),
      transparent
    )
    1;
}

// Avatars ////////////////////////

@mixin app-avatar-container($size) {
  // max-height: $size * $font-size-base;
  max-width: $size * $font-size-base;
}

.app-avatar-container-xs {
  @include app-avatar-container(1.5);
}

.app-avatar-container-sm {
  @include app-avatar-container(3);
}

.app-avatar-container-md {
  @include app-avatar-container(9);
}

.app-avatar-container-lg {
  @include app-avatar-container(15);
}

.app-avatar-img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  aspect-ratio: 1/1;
  box-shadow: $box-shadow-sm !important;
  border-radius: 50% !important;
}

.app-avatar-link {
  .app-avatar-img {
    transition:
      opacity 0.3s ease,
      filter 0.3s ease;
  }

  .app-avatar-icon {
    transition: opacity 0.3s ease;
  }

  &:hover {
    .app-avatar-img {
      opacity: 0.7 !important;
      filter: blur(1px);
    }

    .app-avatar-icon {
      opacity: 1 !important;
    }
  }
}

// Form rows //////////////////////

.app-form-row {
  margin-bottom: ($spacer * 1);
}

.app-form-row-bordered {
  border-radius: 5px;
  border: var(--bs-border-color) var(--bs-border-style) var(--bs-border-width);
  padding: ($spacer * 0.5);
}

.app-btn-border-light {
  &:not(.is-invalid) {
    border-color: var(--bs-border-color) !important;
  }

  &.is-invalid {
    border-color: var(--bs-form-invalid-border-color) !important;
  }
}

// Form buttons action ////////////

.app-button-action {
  width: 1.5rem;
  height: 1rem;
  background-image: none;

  &:not(.is-invalid) {
    margin-right: ($spacer * 0.75) !important;
  }

  &.is-invalid {
    margin-right: ($spacer * 2) !important;
  }

  & .fa-solid {
    vertical-align: ($spacer * 0.125);
  }
}

.app-btn-max-height {
  height: calc(3.5rem + calc(var(--bs-border-width) * 2));
}

// Others /////////////////////////

.app-env-dev {
  background: repeating-linear-gradient(
    45deg,
    #e7b871,
    #e7b871 10px,
    #ce994b 10px,
    #ce994b 20px
  );
  color: #704300;
}
