@use 'sass:color';

///////////////////////////////////
// Framework improvements /////////
///////////////////////////////////

// bootstrap buttons //////////////

.btn-outline-primary {
  @include app-btn(
    var(--app-btn-primary-text-color),
    var(--app-btn-primary-border-color),
    var(--app-btn-primary-bg-color),
    var(--app-btn-primary-text-color),
    var(--app-btn-primary-border-color-hover),
    var(--app-btn-primary-bg-color-hover),
    var(--app-btn-primary-text-color),
    var(--app-btn-primary-border-color-hover),
    var(--app-btn-primary-bg-color-hover)
  );
}

.btn-outline-secondary {
  @include app-btn(
    var(--app-btn-secondary-text-color),
    var(--app-btn-secondary-border-color),
    var(--app-btn-secondary-bg-color),
    var(--app-btn-secondary-text-color),
    var(--app-btn-secondary-border-color-hover),
    var(--app-btn-secondary-bg-color-hover),
    var(--app-btn-secondary-text-color-active),
    var(--app-btn-secondary-border-color-hover),
    var(--app-btn-secondary-bg-color-active)
  );
}

.btn-outline-info {
  color: var(--app-btn-info-text-color);
  border-color: var(--bs-border-color);
  transition: all 0.05s ease;

  &:hover,
  &:focus,
  &:focus-visible {
    color: var(--app-btn-info-text-color);
    background-color: transparent;
    border-color: var(--app-btn-info-border-color-hover);
    text-shadow: 0 0 0.1rem var(--app-btn-info-text-color);
    box-shadow: 0 0 0.2rem 0.1rem var(--app-btn-info-border-color-hover);
  }

  &.active,
  &:active {
    color: var(--app-btn-info-text-color) !important;
    border-color: var(--app-btn-info-border-color-hover) !important;
    background-color: var(--app-btn-info-bg-color-active) !important;
  }

  &.is-invalid {
    border-color: var(--bs-form-invalid-border-color) !important;
  }
}

.btn-outline-danger {
  @include app-btn(
    var(--app-btn-danger-text-color),
    var(--app-btn-danger-border-color),
    var(--app-btn-danger-bg-color),
    var(--app-btn-danger-text-color),
    var(--app-btn-danger-border-color-hover),
    var(--app-btn-danger-bg-color-hover),
    var(--app-btn-danger-text-color-active),
    var(--app-btn-danger-border-color-hover),
    var(--app-btn-danger-bg-color-active)
  );
}

// bootstrap forms ////////////////

.form-label {
  margin-bottom: 0 !important;
}

.help-text {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.input-group-text {
  margin-top: ($spacer * 0) !important;
}

input + label.form-label.required::after,
textarea + label.form-label.required::after,
legend.col-form-label.required::after {
  content: ' *';
  color: var(--app-form-required) !important;
}

.col-form-label {
  padding-left: ($spacer * 0.25) !important;
  padding-top: ($spacer * 0) !important;
}

.invalid-feedback {
  padding-left: 0.5rem;
}

// swiper cards ///////////////////

.btn-swiper {
  padding: 0;
  border: 0;
  font-size: 2rem;
  color: var(--bs-text-body);
  opacity: 0.5;
  transition: opacity 0.15s ease-in;
}

.btn-swiper:hover,
.btn-swiper:active {
  opacity: 1;
}

.swiper {
  padding: 1.5rem !important;
}

// bootstrap list group ///////////

.list-group-item-secondary {
  color: var(--app-admin-list-secondary-color) !important;
}

.list-group-item-action:hover,
.list-group-item-action:focus {
  background-color: var(--app-admin-list-bg-color-hover) !important;
}

// bootstrap table ////////////////

.table > :not(caption) > * > * {
  color: inherit !important;
}

// popover ////////////////////////

:not(.modal) .popover {
  z-index: 10 !important;
}

// progress bar ///////////////////

.progress {
  margin: 0 0.2rem;
  overflow: visible;

  &-bar {
    @each $color, $value in $theme-colors {
      &.bg-#{$color} {
        @include app-neon-line(transparent, $value, $value, 0.2);
      }
    }
  }
}

///////////////////////////////////
// App-specific classes ///////////
///////////////////////////////////

// Switch modale ///////////////////

.app-switch-theme-btn {
  min-height: 4rem;
  align-content: center;
}

// Images /////////////////////////

.app-img-fluid {
  max-width: 100%;
  height: auto;
  background-color: var(--app-img-bg-color);
}

// Avatars ////////////////////////

.app-avatar-container-xs {
  @include app-avatar-container(1.5);
}

.app-avatar-container-sm {
  @include app-avatar-container(3);
}

.app-avatar-container-md {
  @include app-avatar-container(9);
}

.app-avatar-container-lg {
  @include app-avatar-container(15);
}

.app-avatar-img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  aspect-ratio: 1/1;
  box-shadow: 0 0.1rem 0.2rem var(--app-avatar-shadow-color) !important;
  border-radius: 50% !important;
}

.app-avatar-link {
  .app-avatar-img {
    transition:
      opacity 0.3s ease,
      filter 0.3s ease;
  }

  .app-avatar-icon {
    color: var(--app-avatar-icon-color);
    transition: opacity 0.3s ease;
  }

  &:hover {
    .app-avatar-img {
      opacity: 0.7 !important;
      filter: blur(1px);
    }

    .app-avatar-icon {
      opacity: 1 !important;
    }
  }
}

// Navbar /////////////////////////

.app-navbar-text-color {
  color: var(--app-navbar-text-color) !important;
}

.app-navbar-muted-color {
  color: var(--app-navbar-muted-color) !important;
}

.app-navbar-bg-color {
  background-color: var(--app-navbar-bg-color);
}

.app-navbar-neon {
  @include app-neon-line(transparent, var(--app-navbar-border-color), var(--app-navbar-bg-color), 1);
}

.app-navbar-btn {
  transition: all 0s ease;
  border: 2px solid transparent;
  border-radius: var(--bs-border-radius);

  &:hover {
    border-color: var(--app-navbar-text-color);
    box-shadow:
      inset 0 0 0.2rem var(--app-navbar-text-color),
      0 0 0.2rem var(--app-navbar-text-color);
    text-shadow: 0 0 0.1rem var(--app-navbar-text-color);
    animation: border-flicker alternate 3s;
  }

  &:active,
  &[aria-current='page'] {
    border-color: var(--app-navbar-text-color);
    box-shadow:
      inset 0 0 0.2rem var(--app-navbar-text-color),
      0 0 0.2rem var(--app-navbar-text-color);
    text-shadow: 0 0 0.1rem var(--app-navbar-text-color);
    animation: none;
  }
}

// Home ///////////////////////////////

.app-home-havefun {
  transform: translateY(50%);
}

.app-home-havefun span {
  @include app-neon-line(var(--app-navbar-border-color), var(--app-navbar-border-color), var(--app-navbar-bg-color), 1);

  border-radius: var(--bs-border-radius);
  border-radius: calc(2 * var(--bs-border-radius));
}

.app-home-gradient {
  @include app-neon-line(transparent, var(--app-navbar-border-color), var(--app-navbar-bg-color), 1);

  border-bottom: 3px solid;
  border-image: linear-gradient(to right, transparent, var(--app-navbar-border-color), transparent) 1;
}

.app-home-card {
  width: 22rem;
  height: 28rem;
  border-radius: var(--bs-border-radius);
  background-color: var(--app-home-card-bg-color);
  box-shadow: inset 0 0 1em 0.2rem var(--app-home-card-shadow-color);

  & > a {
    border-radius: var(--bs-border-radius) var(--bs-border-radius) 0 0;
    overflow: hidden;
  }

  img {
    border-radius: 0;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    line-clamp: 5;
    height: 5lh;
  }

  &:hover {
    border-color: var(--app-home-card-hover-color);
    box-shadow: 0 0 1.25rem var(--app-home-card-hover-color);

    & > a {
      border-color: var(--app-home-card-hover-color) !important;

      // box-shadow: 0 0 1.25rem var(--app-home-card-hover-color);
    }
  }
}

// Account ////////////////////////

.app-account-card {
  background-color: var(--app-account-card-bg-color);
}

// Form rows //////////////////////

.app-form-row {
  margin-bottom: ($spacer * 1);
}

.app-form-row-bordered {
  border-radius: var(--bs-border-radius);
  border: var(--bs-border-color) var(--bs-border-style) var(--bs-border-width);
  padding: ($spacer * 0.5);
}

// Form buttons action ////////////

.app-btn-action {
  width: 1.5rem;
  height: 1rem;
  background-image: none;

  &:not(.is-invalid) {
    margin-right: ($spacer * 0.75) !important;
  }

  &.is-invalid {
    margin-right: ($spacer * 2) !important;
  }

  & .fa-solid {
    vertical-align: ($spacer * 0.125);
  }
}

.app-btn-max-height {
  height: calc(3.5rem + calc(var(--bs-border-width) * 2));
}

// Others /////////////////////////

.app-env-dev {
  background: repeating-linear-gradient(45deg, #e7b871, #e7b871 10px, #ce994b 10px, #ce994b 20px);
  color: #704300;
}
