// Variables SCSS - Dark Theme

@use 'sass:color';

///////////////////////////////////
// Variables Dark /////////////////
///////////////////////////////////

/// Custom

$app-colors-dark: (
  'app-btn-primary-text-color': $linen,
  'app-btn-primary-bg-color': rgba($rosewood, 0.2),
  'app-btn-primary-bg-color-hover': rgba($rosewood, 0.7),
  'app-btn-primary-border-color': rgba($rosewood, 0.9),
  'app-btn-primary-border-color-hover': color.adjust($rosewood, $lightness: +10%),
  'app-btn-secondary-text-color': color.adjust($greyl, $lightness: +10%),
  'app-btn-secondary-bg-color': rgba($greym, 0.1),
  'app-btn-secondary-bg-color-hover': rgba($greym, 0.5),
  'app-btn-secondary-border-color': rgba($greym, 0.9),
  'app-btn-secondary-border-color-hover': color.adjust($greym, $lightness: +10%),
  'app-avatar-icon-color': $greyl,
  'app-avatar-shadow-color': rgba($night, 0.5),
  'app-img-bg-color': color.adjust($night, $lightness: 8%),
  'app-navbar-text-color': $linen,
  'app-navbar-muted-color': rgba($linen, 0.5),
  'app-navbar-bg-color': $rosewood,
  'app-navbar-border-color': rgba($linen, 0.7),
  'app-home-card-shadow-color': rgba($greym, 0.1),
  'app-home-card-hover-color': $rosewood,
  'app-home-card-bg-color': color.adjust($night, $lightness: 3%),
  'app-account-card-bg-color': color.adjust($night, $lightness: 3%),
  'app-admin-list-bg-color-hover': rgba($greyd, 0.2),
);

// Body

$body-color-dark: $linen;
$body-bg-dark: $night;
$body-secondary-color-dark: rgba($linen, 0.7);
$body-secondary-bg-dark: rgba($night, 0.7);
$body-tertiary-color-dark: cyan;
$body-tertiary-bg-dark: color.adjust($greyd, $lightness: -10%);

// Border

$border-color-dark: rgba($greyd, 0.7);
$secondary-border-subtle-dark: rgba($greyd, 0.7);
$secondary-bg-subtle-dark: rgba($greyd, 0.4);

// Links

$link-color-dark: $linen;
$link-hover-color-dark: color.adjust($linen, $lightness: +20%);

// // Boutons
// $btn-font-weight: 600;
// $btn-border-width: 2px;
// $btn-box-shadow: 0 0.125rem 0.25rem rgba(black, 0.3);
// $btn-focus-box-shadow: 0 0 0 0.25rem rgba(lighten($rosewood, 10%), 0.35);

// // Table
// $table-bg: lighten($night, 3%);
// $table-accent-bg: lighten($night, 5%);
// $table-hover-bg: lighten($night, 8%);
// $table-border-color: lighten($night, 12%);

// // Inputs
// $input-bg: lighten($night, 7%);
// $input-color: $linen;
// $input-border-color: lighten($night, 15%);
// $input-focus-border-color: lighten($rosewood, 20%);
// $input-focus-box-shadow: 0 0 0 0.25rem rgba(lighten($rosewood, 15%), 0.25);
// $input-placeholder-color: darken($linen, 30%);
