// Variables SCSS - Main Config + Light Theme

@use 'sass:color';

///////////////////////////////////
// Main configuration /////////////
///////////////////////////////////

// Fonts

$font-family-sans-serif: 'Roboto', 'Segoe UI', 'Helvetica Neue', arial, sans-serif;
$headings-font-family: 'Montserrat', sans-serif;
$headings-font-weight: 700;

// Color system

$carmine: #9b1b1f;
$rosewood: #650406;
$caramel: #c08552;
$linen: #f3e6dc;
$night: #121417;
$light: white;
$greyl: #a0a0a0;
$greym: #646464;
$greyd: #3d3d3d;
$dark: black;

// $primary: $rosewood;

$secondary: $greym;

// $success: #09d199;
// $info: #6a8caf;
// $warning: #ff5b44;
// $danger: #e2293f;

$light: white;
$dark: black;

///////////////////////////////////
// Variables Light ////////////////
///////////////////////////////////

// Custom

$app-colors: (
  'app-btn-primary-text-color': $linen,
  'app-btn-primary-bg-color': rgba($carmine, 0.8),
  'app-btn-primary-bg-color-hover': rgba($carmine, 1),
  'app-btn-primary-border-color': rgba($carmine, 1),
  'app-btn-primary-border-color-hover': rgba($carmine, 1),
  'app-btn-secondary-text-color': color.adjust($greym, $lightness: -10%),
  'app-btn-secondary-bg-color': rgba($greym, 0.1),
  'app-btn-secondary-bg-color-hover': rgba($greym, 0.5),
  'app-btn-secondary-border-color': rgba($greyl, 0.7),
  'app-btn-secondary-border-color-hover': color.adjust($greym, $lightness: +10%),
  'app-avatar-icon-color': $greyd,
  'app-avatar-shadow-color': rgba($greyd, 0.5),
  'app-img-bg-color': color.adjust($linen, $lightness: -10%, $saturation: -20%),
  'app-navbar-text-color': $linen,
  'app-navbar-muted-color': rgba($linen, 0.5),
  'app-navbar-bg-color': $carmine,
  'app-navbar-border-color': rgba($linen, 0.7),
  'app-home-card-shadow-color': rgba($greym, 0.1),
  'app-home-card-hover-color': $carmine,
  'app-home-card-bg-color': color.adjust($linen, $lightness: -3%),
  'app-account-card-bg-color': color.adjust($linen, $lightness: -3%),
  'app-admin-list-bg-color-hover': rgba($greyl, 0.3),
);

// Body

$body-color: $night;
$body-bg: $linen;
$body-secondary-color: rgba($night, 0.7);
$body-secondary-bg: rgba($linen, 0.7);
$body-tertiary-color: orange;
$body-tertiary-bg: color.adjust($greyl, $lightness: +10%);

// Border

$border-color: rgba($greyl, 0.7);
$secondary-border-subtle: rgba($greyl, 0.7);
$secondary-bg-subtle: rgba($greyl, 0.5);

// Links

$link-color: $night;
$link-hover-color: color.adjust($night, $lightness: +20%);

// // Buttons
// $btn-font-weight: 600;
// $btn-border-width: 2px;
// $btn-box-shadow: 0 0.125rem 0.25rem rgba($rosewood, 0.2);
// $btn-focus-box-shadow: 0 0 0 0.25rem rgba($rosewood, 0.25);

// // Table
// $table-bg: lighten($linen, 1%);
// $table-accent-bg: darken($linen, 3%);
// $table-hover-bg: darken($linen, 5%);
// $table-border-color: darken($linen, 10%);

// // Inputs
// $input-bg: lighten($linen, 3%);
// $input-border-color: darken($linen, 15%);
// $input-focus-border-color: lighten($rosewood, 15%);
// $input-focus-box-shadow: 0 0 0 0.25rem rgba($rosewood, 0.25);

///////////////////////////////////
// Other //////////////////////////
///////////////////////////////////

// $component-active-bg: $feldgrau !default;
// $enable-rounded:              false !default;

$navbar-light-color: rgba($linen, 0.7);
$navbar-light-hover-color: $linen;
$navbar-light-active-color: $linen;
$navbar-light-brand-color: $navbar-light-color;
$navbar-light-brand-hover-color: $navbar-light-hover-color;
$border-width: 2px !default;
$border-radius: 1rem !default;
$progress-bar-transition: width 0.3s ease;
$modal-transition: transform 0.15s ease-out;
$modal-fade-transform: translate(0, -50px);
$modal-content-border-color: $greym;
