// Variables SCSS - Main Config + Light Theme

@use 'sass:color';

///////////////////////////////////
// Main configuration /////////////
///////////////////////////////////

// Fonts

$font-family-sans-serif: 'Roboto', 'Segoe UI', 'Helvetica Neue', arial,
  sans-serif;
$headings-font-family: 'Montserrat', sans-serif;
$headings-font-weight: 700;

// Color system

$rosewood: #651518;
$caramel: #c08552;
$linen: #f3e6dc;
$rich-black: #151a24;
$linen-plus: color.adjust($linen, $lightness: 20%);
$linen-minus: rgba($linen, 0.7);
$rich-black-plus: rgba($rich-black, 0.7);
$rich-black-minus: color.adjust($rich-black, $lightness: -20%);
$primary: $rosewood;
$secondary: $caramel;
$success: #09d199;
$info: #6a8caf;
$warning: #ff5b44;
$danger: #e2293f;
$light: white;
$dark: black;

///////////////////////////////////
// Variables Light ////////////////
///////////////////////////////////

// Navbar

$navbar-light-bg-color: $primary;
$navbar-light-color: $linen-minus;
$navbar-light-muted-color: $linen-minus;
$navbar-light-hover-color: $light;
$navbar-light-active-color: $light;

// Body

$body-color: $rich-black;
$body-bg: $linen;
$body-secondary-color: $rich-black-plus;
$body-secondary-bg: $linen-minus;
$body-tertiary-color: orange;
$body-tertiary-bg: cyan;
$body-emphasis-color: purple;

// Border

$border-color: $rich-black-plus;
$border-color-translucent: $rich-black-plus;

// // Links
// $link-color: darken($rosewood, 5%);
// $link-hover-color: lighten($rosewood, 10%);

// // Shadows
// $box-shadow: 0 0.5rem 1rem rgba($rosewood, 0.15);
// $box-shadow-lg: 0 1rem 3rem rgba($rosewood, 0.175);

// // Buttons
// $btn-font-weight: 600;
// $btn-border-width: 2px;
// $btn-box-shadow: 0 0.125rem 0.25rem rgba($rosewood, 0.2);
// $btn-focus-box-shadow: 0 0 0 0.25rem rgba($rosewood, 0.25);

// // Cards
// $card-border-width: 0;
// $card-bg: lighten($linen, 2%);
// $card-cap-bg: darken($linen, 5%);
// $card-border-color: rgba($rosewood, 0.125);

// // Table
// $table-bg: lighten($linen, 1%);
// $table-accent-bg: darken($linen, 3%);
// $table-hover-bg: darken($linen, 5%);
// $table-border-color: darken($linen, 10%);

// // Inputs
// $input-bg: lighten($linen, 3%);
// $input-border-color: darken($linen, 15%);
// $input-focus-border-color: lighten($rosewood, 15%);
// $input-focus-box-shadow: 0 0 0 0.25rem rgba($rosewood, 0.25);

///////////////////////////////////
// Other //////////////////////////
///////////////////////////////////

// $enable-rounded:              false !default;

// $component-active-bg: $feldgrau !default;
// $border-width: 0 !default;
// $border-radius: 0.15rem !default;
// $border-radius-sm: 0.05rem !default;
// $text-muted: rgba($body-color, 0.3) !default;

$progress-bar-transition: width 0.3s ease;
