// Import boostrap classes
@import '~bootstrap/scss/bootstrap';

// Import icons packages
@import '~bootstrap-icons/font/bootstrap-icons.css';
@import '~@fortawesome/fontawesome-free/css/all.css';

// Improve bootstrap classes for form
.form-label {
  margin-bottom: 0 !important;
}

.help-text {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.input-group-text {
  margin-top: ($spacer * 0) !important;
}

label.form-label.required::after,
legend.col-form-label.required::after {
  content: ' *';
  color: $primary !important;
}

// Others
.app-env-dev {
  background: repeating-linear-gradient(
    45deg,
    #e7b871,
    #e7b871 10px,
    #ce994b 10px,
    #ce994b 20px
  );
  color: #704300;
}

.app-form-row {
  margin-bottom: ($spacer * 1) !important;
}

.app-btn-border-light:not(.is-invalid) {
  border-color: var(--bs-border-color) !important;
}

.app-btn-border-light.is-invalid {
  border-color: var(--bs-form-invalid-border-color) !important;
}
